 <div class="overlay-news">
  <div class="news-mensages">
    <i class="close-news far fa-times"></i>
    <div class="card-header d-flex justify-content-center align-items-center"><img src="https://image.flaticon.com/icons/svg/1782/1782768.svg"> Notificações</div>
  </div>
</div>
</body>
<script src="/plugins/boostrap/js/jquery-3.3.1.slim.min.js"></script>
<script src="/plugins/boostrap/js/popper.min.js"></script>
<script src="/plugins/boostrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="js/script.js"></script>
</html>