<%- include('./partials/header-no-login')%>
<div class="background-login">
  <div class="container container-login mt-2 d-flex justify-content-center align-items-center flex-column">
    <strong class="mb-3 float brand">Salva<i class="icon-logo fas fa-cloud-upload"></i>aqui</strong>
    <div class="card">
      <div class="card-header">
        Entre com seus dados!
      </div>
      <div class="card-body">
        <form class="form-group" action="/login" method="POST">
          <label class="">Email</label>
          <div class="container-input-icons">
            <i class="far fa-envelope"></i>
          </div>
          <input class="custom-input form-control mb-3" type="email" name="email">

          <label class="">Senha</label>
          <div class="container-input-icons">
            <i class="far fa-lock"></i>
          </div>
          <input class="custom-input form-control mb-3" type="password" name="password">
          <button class="btn btn-custom-1 w-100 text-white mt-2 mb-3">Entrar</button>
          <span class="mt-2">Não tem conta? <a href='/register'>Cadastre-se</a></span>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer-img">

</div>
<%- include('./partials/footer-no-login')%>
