body {
  background-color: #100f12
}

.change-theme:before {
  content: "\f185";
}

.notifications,
.change-theme{
  color: #fff!important;
}

.welcome-div{
  background-color: #343a40;
  color: #b1b1b5;
}

.bg-dark {
  background-color: #343a40!important;
}

.nav-right li:nth-child(1), .nav-right li:nth-child(2) {
  padding: 5px 20px;
  background: #99999991;
  border-radius: 40px; 
  margin-right:5px;
  transition: all .1s linear;
}
.nav-right li:nth-child(1):hover, .nav-right li:nth-child(2):hover{
  opacity: 0.8;
}
.modal-content{
  background: #201f24!important;
  color: #fff!important;
}
.modal-header{
  border-bottom: 1px solid #e9ecef1f!important;
}
.modal-footer{
  border-top: 1px solid #e9ecef1f!important;
}

textarea{
  background-color: #05050552!important;
  border: 1px solid #ced4da21!important;
  color:#fff!important;
  box-shadow: none!important;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  color: #fff;
  outline: none;
}
.user__menu{
  background: #343a40!important;
}

.user__menu a {
  color: #fff!important;
}